In [1]:
import pandas as pd
import json

import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt

import pandas as pd
import numpy as np
import datetime
from time import strftime

from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import LabelEncoder

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

import matplotlib.pyplot as plt
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

import seaborn as sns
import pandas as pd
import json
import numpy as np
import matplotlib.pyplot as plt

import datetime
from time import strftime

# Simple example for beginers how to adress ""
import numpy as np
from sklearn                        import metrics, svm
from sklearn.linear_model           import LogisticRegression
from sklearn import preprocessing
from sklearn import utils

import json
import pandas as pd

In [2]:
df3=pd.read_csv("boulder_gov_dataset.csv")

In [3]:
df3

,ObjectId,Station_Name,Address,City,State_Province,Zip_Postal_Code,Start_Date___Time,Start_Time_Zone,End_Date___Time,End_Time_Zone,Total_Duration__hh_mm_ss_,Charging_Time__hh_mm_ss_,Energy__kWh_,GHG_Savings__kg_,Gasoline_Savings__gallons_,Port_Type
0,1,BOULDER / JUNCTION ST1,2280 Junction Pl,Boulder,Colorado,80301,1/1/2018 17:49,MDT,1/1/2018 19:52,MDT,2:03:02,2:02:44,6.504,2.732,0.816,Level 2
1,2,BOULDER / JUNCTION ST1,2280 Junction Pl,Boulder,Colorado,80301,1/2/2018 8:52,MDT,1/2/2018 9:16,MDT,0:24:34,0:24:19,2.481,1.042,0.311,Level 2
2,3,BOULDER / JUNCTION ST1,2280 Junction Pl,Boulder,Colorado,80301,1/2/2018 21:11,MDT,1/3/2018 6:23,MDT,9:12:21,3:40:52,15.046,6.319,1.888,Level 2
3,4,BOULDER / ALPINE ST1,1275 Alpine Ave,Boulder,Colorado,80304,1/3/2018 9:19,MDT,1/3/2018 11:14,MDT,1:54:51,1:54:29,6.947,2.918,0.872,Level 2
4,5,BOULDER / BASELINE ST1,900 Baseline Rd,Boulder,Colorado,80302,1/3/2018 14:13,MDT,1/3/2018 14:30,MDT,0:16:58,0:16:44,1.800,0.756,0.226,Level 2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25572,25573,BOULDER / CARPENTER PARK2,1505 30th St,Boulder,Colorado,80303,5/24/2021 11:06,MDT,5/24/2021 11:51,MDT,0:44:48,0:44:30,4.460,3.167,0.560,Level 2
25573,25574,COMM VITALITY / 1500PEARL2,1500 Pearl St,Boulder,Colorado,80302,5/24/2021 11:31,MDT,5/24/2021 14:00,MDT,2:28:30,2:28:10,15.173,10.773,1.904,Level 2
25574,25575,BOULDER / BASELINE ST1,900 Baseline Rd,Boulder,Colorado,80302,5/24/2021 11:31,MDT,5/24/2021 13:47,MDT,2:15:32,2:15:04,14.896,10.576,1.869,Level 2
25575,25576,COMM VITALITY / 1104 SPRUCE1,1100 Spruce St,Boulder,Colorado,80302,5/24/2021 11:55,MDT,5/24/2021 13:42,MDT,1:46:48,1:46:32,5.914,4.199,0.742,Level 2
25576,25577,BOULDER / BASELINE ST1,900 Baseline Rd,Boulder,Colorado,80302,5/24/2021 12:29,MDT,5/24/2021 16:20,MDT,3:51:05,3:18:10,17.256,12.251,2.166,Level 2

In [4]:
df3.columns

Index(['ObjectId', 'Station_Name', 'Address', 'City', 'State_Province',
       'Zip_Postal_Code', 'Start_Date___Time', 'Start_Time_Zone',
       'End_Date___Time', 'End_Time_Zone', 'Total_Duration__hh_mm_ss_',
       'Charging_Time__hh_mm_ss_', 'Energy__kWh_', 'GHG_Savings__kg_',
       'Gasoline_Savings__gallons_', 'Port_Type'],
      dtype='object')

In [5]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25577 entries, 0 to 25576
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ObjectId                    25577 non-null  int64
 1   Station_Name                25577 non-null  object
 2   Address                     25577 non-null  object
 3   City                        25577 non-null  object
 4   State_Province              25577 non-null  object
 5   Zip_Postal_Code             25577 non-null  int64
 6   Start_Date___Time           25577 non-null  object
 7   Start_Time_Zone             25577 non-null  object
 8   End_Date___Time             25576 non-null  object
 9   End_Time_Zone               25577 non-null  object
 10  Total_Duration__hh_mm_ss_   25577 non-null  object
 11  Charging_Time__hh_mm_ss_    25577 non-null  object
 12  Energy__kWh_                25577 non-null  float64
 13  GHG_Savings__kg_            25577 non-null  float64
 14  Gasoline_Savings__gallons_  25577 non-null  float64
 15  Port_Type                   25577 non-null  object
dtypes: float64(3), int64(2), object(11)
memory usage: 3.1+ MB

In [6]:
df3.isnull().sum()

ObjectId                      0
Station_Name                  0
Address                       0
City                          0
State_Province                0
Zip_Postal_Code               0
Start_Date___Time             0
Start_Time_Zone               0
End_Date___Time               1
End_Time_Zone                 0
Total_Duration__hh_mm_ss_     0
Charging_Time__hh_mm_ss_      0
Energy__kWh_                  0
GHG_Savings__kg_              0
Gasoline_Savings__gallons_    0
Port_Type                     0
dtype: int64

In [7]:
df3=df3.dropna()

In [8]:
#bins = [0,5, 10,15, 20,25, 30,35, 40,45, 50,55, 60,65, 70, 75,80,85, 90]
#df3['binned_energy'] = pd.cut(df3['Energy__kWh_'], bins)

In [9]:
#plt.figure(figsize=(15,10))
#ax = sns.countplot(x=df3.binned_energy, data=df3)
#ax.set_title("energy kwh")
#plt.show()
#print("energy binned\n")
#print(df3.groupby(['binned_energy']).size())

In [10]:
# Print Unique Values of columns

print("Unique Values in `Station_Name` => {}".format(df3['Station_Name'].unique()))
print('\n')

Unique Values in `Station_Name` => ['BOULDER / JUNCTION ST1' 'BOULDER / ALPINE ST1' 'BOULDER / BASELINE ST1'
 'BOULDER / FACILITIES ST1' 'COMM VITALITY / 1500PEARL2'
 'BOULDER / ATRIUM ST1' 'BOULDER / REC CENTER ST1'
 'BOULDER / REC CENTER ST2' 'COMM VITALITY / 1500PEARL1'
 'COMM VITALITY / 1104 SPRUCE1' 'COMM VITALITY / 1000WALNUT2'
 'COMM VITALITY / 1000WALNUT1' 'COMM VITALITY / 1400 WALNUT1'
 'COMM VITALITY / 1100WALNUT1' 'COMM VITALITY / BOULDER JCTN'
 'BOULDER / ANNEX ST1' 'BOULDER / N BOULDER REC 1'
 'BOULDER / BOULDER PARK S2' 'BOULDER / BOULDER PARK S1'
 'COMM VITALITY / 2200 BROADWAY1' 'BOULDER / EAST REC'
 'BOULDERJUNCTION / JUNCTION ST1' 'BOULDER / RESERVOIR ST1'
 'BOULDER / RESERVOIR ST2' 'BOULDER / CARPENTER PARK1'
 'BOULDER / CARPENTER PARK2' 'BOULDER / AIRPORT ST1']

In [11]:
# Print Unique Values of columns

print("Unique Values in `Address` => {}".format(df3['Address'].unique()))
print('\n')

Unique Values in `Address` => ['2280 Junction Pl' '1275 Alpine Ave' '900 Baseline Rd' '1745 14th street'
 '1500 Pearl St' '1770 13th St' '1360 Gillaspie Dr' '1100 Spruce St'
 '900 Walnut St' '1400 Walnut St' '1100 Walnut' '2052 Junction Pl'
 '7315 Red Deer Dr' '3172 Broadway' '1739 Broadway' '2150 13th St'
 '5660 Sioux Dr' '5565 51st St' '1505 30th St' '3335 Airport Rd']

In [12]:
# Print Unique Values of columns

print("Unique Values in `City` => {}".format(df3['City'].unique()))
print('\n')

Unique Values in `City` => ['Boulder']

In [13]:
# Print Unique Values of columns

print("Unique Values in `State_Province` => {}".format(df3['State_Province'].unique()))
print('\n')

Unique Values in `State_Province` => ['Colorado']

In [14]:
# Print Unique Values of columns

print("Unique Values in `Zip_Postal_Code` => {}".format(df3['Zip_Postal_Code'].unique()))
print('\n')

Unique Values in `Zip_Postal_Code` => [80301 80304 80302 80305 80303]

In [15]:
# Print Unique Values of columns

print("Unique Values in `Start_Time_Zone` => {}".format(df3['Start_Time_Zone'].unique()))
print('\n')

Unique Values in `Start_Time_Zone` => ['MDT']

In [16]:
# Print Unique Values of columns

print("Unique Values in `End_Time_Zone` => {}".format(df3['End_Time_Zone'].unique()))
print('\n')

Unique Values in `End_Time_Zone` => ['MDT']

In [17]:
# Print Unique Values of columns

print("Unique Values in `Port_Type` => {}".format(df3['Port_Type'].unique()))
print('\n')

Unique Values in `Port_Type` => ['Level 2']

In [18]:
# get tme and date from timestamp
df3['Charge_start_timestamp'] = pd.to_datetime(df3['Start_Date___Time'])
df3['Start_date'] = df3['Charge_start_timestamp'].dt.date

df3['Start_date_month'] = df3['Charge_start_timestamp'].dt.month
df3['Start_date_day'] = df3['Charge_start_timestamp'].dt.day
df3['Start_date_year'] = df3['Charge_start_timestamp'].dt.year
df3['startdayOfWeek'] = df3['Charge_start_timestamp'].dt.dayofweek
df3['startdayOfWeekname'] = df3['Charge_start_timestamp'].dt.day_name()


df3['Start_time'] = df3['Charge_start_timestamp'].dt.time

#time1 = pd.DatetimeIndex(df3['Charge_start_timestamp'])
#df3['start_time_in_minutes']=time1.hour * 60 + time1.minute
#df3['start_time_in_hrs']=df3['start_time_in_minutes'].div(60).round(2)
#df3['start_time_in_hrs_int'] = df3['start_time_in_hrs'].astype(int)


#df3['start_time_in_hrs_round_0']=df3['start_time_in_minutes'].div(60).round(0)



df3['Start_time_string']=df3['Start_time'].astype('str') 


df3['Start_time__hh_string']=df3['Start_time_string'].str.rsplit(":", n=3, expand=True)[0]

df3['Start_time_mm_string']=df3['Start_time_string'].str.rsplit(":", n=3, expand=True)[1]

df3['Start_time_ss_string']=df3['Start_time_string'].str.rsplit(":", n=3, expand=True)[2]


df3['start_time_hour_int']=df3['Start_time__hh_string'].astype(int)
df3['start_time_minute_int']=df3['Start_time_mm_string'].astype(int)
df3['start_time_second_int']=df3['Start_time_ss_string'].astype(int)

<ipython-input-18-6af73e2677ef>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Charge_start_timestamp'] = pd.to_datetime(df3['Start_Date___Time'])
<ipython-input-18-6af73e2677ef>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Start_date'] = df3['Charge_start_timestamp'].dt.date
<ipython-input-18-6af73e2677ef>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Start_date_month'] = df3['Charge_start_timestamp'].dt.month
<ipython-input-18-6af73e2677ef>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Start_date_day'] = df3['Charge_start_timestamp'].dt.day
<ipython-input-18-6af73e2677ef>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Start_date_year'] = df3['Charge_start_timestamp'].dt.year
<ipython-input-18-6af73e2677ef>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['startdayOfWeek'] = df3['Charge_start_timestamp'].dt.dayofweek
<ipython-input-18-6af73e2677ef>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['startdayOfWeekname'] = df3['Charge_start_timestamp'].dt.day_name()
<ipython-input-18-6af73e2677ef>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Start_time'] = df3['Charge_start_timestamp'].dt.time
<ipython-input-18-6af73e2677ef>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Start_time_string']=df3['Start_time'].astype('str')
<ipython-input-18-6af73e2677ef>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Start_time__hh_string']=df3['Start_time_string'].str.rsplit(":", n=3, expand=True)[0]
<ipython-input-18-6af73e2677ef>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Start_time_mm_string']=df3['Start_time_string'].str.rsplit(":", n=3, expand=True)[1]
<ipython-input-18-6af73e2677ef>:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Start_time_ss_string']=df3['Start_time_string'].str.rsplit(":", n=3, expand=True)[2]
<ipython-input-18-6af73e2677ef>:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['start_time_hour_int']=df3['Start_time__hh_string'].astype(int)
<ipython-input-18-6af73e2677ef>:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['start_time_minute_int']=df3['Start_time_mm_string'].astype(int)
<ipython-input-18-6af73e2677ef>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['start_time_second_int']=df3['Start_time_ss_string'].astype(int)

In [19]:
# get tme and date from timestamp
df3['Charge_end_timestamp'] = pd.to_datetime(df3['End_Date___Time'])
df3['End_date'] = df3['Charge_end_timestamp'].dt.date

df3['End_date_month'] = df3['Charge_end_timestamp'].dt.month
df3['End_date_day'] = df3['Charge_end_timestamp'].dt.day
df3['End_date_year'] = df3['Charge_end_timestamp'].dt.year
df3['enddayOfWeek'] = df3['Charge_end_timestamp'].dt.dayofweek
df3['enddayOfWeekname'] = df3['Charge_end_timestamp'].dt.day_name()


df3['End_time'] = df3['Charge_end_timestamp'].dt.time

#time2 = pd.DatetimeIndex(df3['Charge_end_timestamp'])
#df3['end_time_in_minutes']=time2.hour * 60 + time2.minute
#df3['end_time_in_hrs']=df3['end_time_in_minutes'].div(60).round(2)
#df3['end_time_in_hrs_int'] = df3['end_time_in_hrs'].astype(int)




df3['End_time_string']=df3['End_time'].astype('str') 


df3['End_time__hh_string']=df3['End_time_string'].str.rsplit(":", n=3, expand=True)[0]

df3['End_time_mm_string']=df3['End_time_string'].str.rsplit(":", n=3, expand=True)[1]

df3['End_time_ss_string']=df3['End_time_string'].str.rsplit(":", n=3, expand=True)[2]


df3['end_time_in_hrs_int']=df3['End_time__hh_string'].astype(int)
df3['end_time_in_mm_int']=df3['End_time_mm_string'].astype(int)
df3['end_time_in_ss_int']=df3['End_time_ss_string'].astype(int)

<ipython-input-19-fd5a8f17246d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Charge_end_timestamp'] = pd.to_datetime(df3['End_Date___Time'])
<ipython-input-19-fd5a8f17246d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['End_date'] = df3['Charge_end_timestamp'].dt.date
<ipython-input-19-fd5a8f17246d>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['End_date_month'] = df3['Charge_end_timestamp'].dt.month
<ipython-input-19-fd5a8f17246d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['End_date_day'] = df3['Charge_end_timestamp'].dt.day
<ipython-input-19-fd5a8f17246d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['End_date_year'] = df3['Charge_end_timestamp'].dt.year
<ipython-input-19-fd5a8f17246d>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['enddayOfWeek'] = df3['Charge_end_timestamp'].dt.dayofweek
<ipython-input-19-fd5a8f17246d>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['enddayOfWeekname'] = df3['Charge_end_timestamp'].dt.day_name()
<ipython-input-19-fd5a8f17246d>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['End_time'] = df3['Charge_end_timestamp'].dt.time
<ipython-input-19-fd5a8f17246d>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['End_time_string']=df3['End_time'].astype('str')
<ipython-input-19-fd5a8f17246d>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['End_time__hh_string']=df3['End_time_string'].str.rsplit(":", n=3, expand=True)[0]
<ipython-input-19-fd5a8f17246d>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['End_time_mm_string']=df3['End_time_string'].str.rsplit(":", n=3, expand=True)[1]
<ipython-input-19-fd5a8f17246d>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['End_time_ss_string']=df3['End_time_string'].str.rsplit(":", n=3, expand=True)[2]
<ipython-input-19-fd5a8f17246d>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['end_time_in_hrs_int']=df3['End_time__hh_string'].astype(int)
<ipython-input-19-fd5a8f17246d>:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['end_time_in_mm_int']=df3['End_time_mm_string'].astype(int)
<ipython-input-19-fd5a8f17246d>:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['end_time_in_ss_int']=df3['End_time_ss_string'].astype(int)

In [20]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25576 entries, 0 to 25576
Data columns (total 46 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ObjectId                    25576 non-null  int64
 1   Station_Name                25576 non-null  object
 2   Address                     25576 non-null  object
 3   City                        25576 non-null  object
 4   State_Province              25576 non-null  object
 5   Zip_Postal_Code             25576 non-null  int64
 6   Start_Date___Time           25576 non-null  object
 7   Start_Time_Zone             25576 non-null  object
 8   End_Date___Time             25576 non-null  object
 9   End_Time_Zone               25576 non-null  object
 10  Total_Duration__hh_mm_ss_   25576 non-null  object
 11  Charging_Time__hh_mm_ss_    25576 non-null  object
 12  Energy__kWh_                25576 non-null  float64
 13  GHG_Savings__kg_            25576 non-null  float64
 14  Gasoline_Savings__gallons_  25576 non-null  float64
 15  Port_Type                   25576 non-null  object
 16  Charge_start_timestamp      25576 non-null  datetime64[ns]
 17  Start_date                  25576 non-null  object
 18  Start_date_month            25576 non-null  int64
 19  Start_date_day              25576 non-null  int64
 20  Start_date_year             25576 non-null  int64
 21  startdayOfWeek              25576 non-null  int64
 22  startdayOfWeekname          25576 non-null  object
 23  Start_time                  25576 non-null  object
 24  Start_time_string           25576 non-null  object
 25  Start_time__hh_string       25576 non-null  object
 26  Start_time_mm_string        25576 non-null  object
 27  Start_time_ss_string        25576 non-null  object
 28  start_time_hour_int         25576 non-null  int32
 29  start_time_minute_int       25576 non-null  int32
 30  start_time_second_int       25576 non-null  int32
 31  Charge_end_timestamp        25576 non-null  datetime64[ns]
 32  End_date                    25576 non-null  object
 33  End_date_month              25576 non-null  int64
 34  End_date_day                25576 non-null  int64
 35  End_date_year               25576 non-null  int64
 36  enddayOfWeek                25576 non-null  int64
 37  enddayOfWeekname            25576 non-null  object
 38  End_time                    25576 non-null  object
 39  End_time_string             25576 non-null  object
 40  End_time__hh_string         25576 non-null  object
 41  End_time_mm_string          25576 non-null  object
 42  End_time_ss_string          25576 non-null  object
 43  end_time_in_hrs_int         25576 non-null  int32
 44  end_time_in_mm_int          25576 non-null  int32
 45  end_time_in_ss_int          25576 non-null  int32
dtypes: datetime64[ns](2), float64(3), int32(6), int64(10), object(25)
memory usage: 8.6+ MB

In [21]:
df3['Total_duration_string']=df3['Total_Duration__hh_mm_ss_'].astype('str') 


df3['Total_Duration__hh_string']=df3['Total_duration_string'].str.rsplit(":", n=3, expand=True)[0]

df3['Total_Duration__mm_string']=df3['Total_duration_string'].str.rsplit(":", n=3, expand=True)[1]

df3['Total_Duration__ss_string']=df3['Total_duration_string'].str.rsplit(":", n=3, expand=True)[2]


df3['Total_Duration__hh_int']=df3['Total_Duration__hh_string'].astype(int)
df3['Total_Duration__mm_int']=df3['Total_Duration__mm_string'].astype(int)
df3['Total_Duration__ss_int']=df3['Total_Duration__ss_string'].astype(int)

<ipython-input-21-248cef4ad047>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Total_duration_string']=df3['Total_Duration__hh_mm_ss_'].astype('str')
<ipython-input-21-248cef4ad047>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Total_Duration__hh_string']=df3['Total_duration_string'].str.rsplit(":", n=3, expand=True)[0]
<ipython-input-21-248cef4ad047>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Total_Duration__mm_string']=df3['Total_duration_string'].str.rsplit(":", n=3, expand=True)[1]
<ipython-input-21-248cef4ad047>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Total_Duration__ss_string']=df3['Total_duration_string'].str.rsplit(":", n=3, expand=True)[2]
<ipython-input-21-248cef4ad047>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Total_Duration__hh_int']=df3['Total_Duration__hh_string'].astype(int)
<ipython-input-21-248cef4ad047>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Total_Duration__mm_int']=df3['Total_Duration__mm_string'].astype(int)
<ipython-input-21-248cef4ad047>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Total_Duration__ss_int']=df3['Total_Duration__ss_string'].astype(int)

In [22]:
newdf=df3.drop(columns=['Start_time','End_time','Start_time_ss_string','Start_time_mm_string','Start_time__hh_string','Start_time_string','End_time_string','End_time__hh_string','End_time_mm_string','End_time_ss_string','Station_Name', 'Address','City','State_Province','Zip_Postal_Code','Start_Date___Time','End_Date___Time','End_Time_Zone','Port_Type','Start_Time_Zone','Start_date','End_date','enddayOfWeekname','startdayOfWeekname','Total_Duration__hh_mm_ss_','Charging_Time__hh_mm_ss_','Total_Duration__hh_string','Total_Duration__mm_string','Total_Duration__ss_string','Total_duration_string'])

In [23]:
newdf['charge_duration_in_minutes']=(newdf.Charge_end_timestamp-newdf.Charge_start_timestamp).astype('timedelta64[m]')

newdf['charge_duration_in_hours']=newdf['charge_duration_in_minutes'].div(60).round(2)

In [24]:
newdf['Energy__kWh_per_minute']=newdf['Energy__kWh_'].div(newdf['charge_duration_in_minutes']).round(4)

In [25]:
# Print Unique Values of columns

print("Unique Values in `start_time_hour_int` => {}".format(newdf['start_time_hour_int'].unique()))
print('\n')

Unique Values in `start_time_hour_int` => [17  8 21  9 14 12 13 16 20  7 11 10 15 18 22  6 19  5  0  1 23  2  4  3]

In [26]:
newdf

,ObjectId,Energy__kWh_,GHG_Savings__kg_,Gasoline_Savings__gallons_,Charge_start_timestamp,Start_date_month,Start_date_day,Start_date_year,startdayOfWeek,start_time_hour_int,...,enddayOfWeek,end_time_in_hrs_int,end_time_in_mm_int,end_time_in_ss_int,Total_Duration__hh_int,Total_Duration__mm_int,Total_Duration__ss_int,charge_duration_in_minutes,charge_duration_in_hours,Energy__kWh_per_minute
0,1,6.504,2.732,0.816,2018-01-01 17:49:00,1,1,2018,0,17,...,0,19,52,0,2,3,2,123.0,2.05,0.0529
1,2,2.481,1.042,0.311,2018-01-02 08:52:00,1,2,2018,1,8,...,1,9,16,0,0,24,34,24.0,0.40,0.1034
2,3,15.046,6.319,1.888,2018-01-02 21:11:00,1,2,2018,1,21,...,2,6,23,0,9,12,21,552.0,9.20,0.0273
3,4,6.947,2.918,0.872,2018-01-03 09:19:00,1,3,2018,2,9,...,2,11,14,0,1,54,51,115.0,1.92,0.0604
4,5,1.800,0.756,0.226,2018-01-03 14:13:00,1,3,2018,2,14,...,2,14,30,0,0,16,58,17.0,0.28,0.1059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25572,25573,4.460,3.167,0.560,2021-05-24 11:06:00,5,24,2021,0,11,...,0,11,51,0,0,44,48,45.0,0.75,0.0991
25573,25574,15.173,10.773,1.904,2021-05-24 11:31:00,5,24,2021,0,11,...,0,14,0,0,2,28,30,149.0,2.48,0.1018
25574,25575,14.896,10.576,1.869,2021-05-24 11:31:00,5,24,2021,0,11,...,0,13,47,0,2,15,32,136.0,2.27,0.1095
25575,25576,5.914,4.199,0.742,2021-05-24 11:55:00,5,24,2021,0,11,...,0,13,42,0,1,46,48,107.0,1.78,0.0553
25576,25577,17.256,12.251,2.166,2021-05-24 12:29:00,5,24,2021,0,12,...,0,16,20,0,3,51,5,231.0,3.85,0.0747

In [27]:
import datetime

In [28]:
#initialize dataframe
t1 = pd.Series([0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0])
initial_df1= pd.DataFrame([list(t1)],  columns =  ["ObjectId","Energy__kWh_", "GHG_Savings__kg_", "Gasoline_Savings__gallons_",
                                                   "Charge_start_timestamp","start_time_hour_int","start_time_minute_int",
                                                   "start_time_second_int","Charge_end_timestamp","end_time_in_hrs_int",
                                                   "end_time_in_mm_int","end_time_in_ss_int","Total_Duration__hh_int",
                                                   "Total_Duration__mm_int","Total_Duration__ss_int","charge_duration_in_minutes",
                                                   "charge_duration_in_hours","Energy__kWh_per_minute"])


#initialize dataframe
t2 = pd.Series([0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0])
initial_df2= pd.DataFrame([list(t2)],  columns =  ["ObjectId","Energy__kWh_", "GHG_Savings__kg_", "Gasoline_Savings__gallons_",
                                                   "Charge_start_timestamp","start_time_hour_int","start_time_minute_int",
                                                   "start_time_second_int","Charge_end_timestamp","end_time_in_hrs_int",
                                                   "end_time_in_mm_int","end_time_in_ss_int","Total_Duration__hh_int",
                                                   "Total_Duration__mm_int","Total_Duration__ss_int","charge_duration_in_minutes",
                                                   "charge_duration_in_hours","Energy__kWh_per_minute"])




for ind in newdf.index:

    
    start_hour=newdf['start_time_hour_int'][ind]
    end_hour=newdf['end_time_in_hrs_int'][ind]
    
    
    
    start_minute=newdf['start_time_minute_int'][ind]
    end_minute=newdf['end_time_in_mm_int'][ind]
    
    minutes_in_first_hour=60-newdf['start_time_minute_int'][ind]
    minutes_in_last_hour=newdf['end_time_in_mm_int'][ind]
    
    energy_consumed_per_hour=newdf['Energy__kWh_per_minute'][ind]*60
    charge_duration_hour=newdf['Total_Duration__hh_int'][ind]
    
    startdate=newdf['Start_date_day'][ind]
    enddate=newdf['End_date_day'][ind]
    
    startmonth=newdf['Start_date_month'][ind]
    endmonth=newdf['End_date_month'][ind]
    
    startyear=newdf['Start_date_year'][ind]
    endyear=newdf['End_date_year'][ind]
    
    startdayOfWeek=newdf['startdayOfWeek'][ind]
    enddayOfWeek=newdf['enddayOfWeek'][ind]
    
    charge_duration_in_minutes=newdf['charge_duration_in_minutes'][ind]
   
    start_date = newdf["Charge_start_timestamp"][ind]
   
   
    end_date = newdf["Charge_end_timestamp"][ind]
   
    
        
    if ((startdate == enddate) and (startmonth==endmonth) and (startyear==endyear)):
        
        
        
        #for the charge duration less than an hour when start and end dates are equal
        if ((charge_duration_in_minutes<60) and (start_hour==end_hour)):
            
            diff = abs(start_minute-end_minute)
            diff_in_hour=diff/60
            s8 = pd.Series([newdf['ObjectId'][ind],newdf['Energy__kWh_per_minute'][ind]*diff,
                                newdf['GHG_Savings__kg_'][ind],
                                newdf['Gasoline_Savings__gallons_'][ind],start_date,
                                start_hour,0,0,
                                end_date,
                                start_hour+1,0,0,0,diff,0,diff,diff_in_hour,
                                newdf['Energy__kWh_per_minute'][ind]])
            df8 = pd.DataFrame([list(s8)],  columns =  ["ObjectId","Energy__kWh_", "GHG_Savings__kg_", "Gasoline_Savings__gallons_",
                                                               "Charge_start_timestamp","start_time_hour_int","start_time_minute_int",
                                                               "start_time_second_int","Charge_end_timestamp","end_time_in_hrs_int",
                                                               "end_time_in_mm_int","end_time_in_ss_int","Total_Duration__hh_int",
                                                               "Total_Duration__mm_int","Total_Duration__ss_int","charge_duration_in_minutes",
                                                               "charge_duration_in_hours","Energy__kWh_per_minute"])
            initial_df1=initial_df1.append(df8)
            
        else:
             
            #for the minutes of first hour of start date when start and end dates are equal
            minutes_in_first_hour_into_hour=minutes_in_first_hour/60

            s6 = pd.Series([newdf['ObjectId'][ind],newdf['Energy__kWh_per_minute'][ind]*minutes_in_first_hour,
                                newdf['GHG_Savings__kg_'][ind],
                                newdf['Gasoline_Savings__gallons_'][ind],start_date,
                                start_hour,0,0,
                                end_date,
                                start_hour+1,0,0,0,minutes_in_first_hour,0,minutes_in_first_hour,minutes_in_first_hour_into_hour,
                                newdf['Energy__kWh_per_minute'][ind]])
            df6 = pd.DataFrame([list(s6)],  columns =  ["ObjectId","Energy__kWh_", "GHG_Savings__kg_", "Gasoline_Savings__gallons_",
                                                               "Charge_start_timestamp","start_time_hour_int","start_time_minute_int",
                                                               "start_time_second_int","Charge_end_timestamp","end_time_in_hrs_int",
                                                               "end_time_in_mm_int","end_time_in_ss_int","Total_Duration__hh_int",
                                                               "Total_Duration__mm_int","Total_Duration__ss_int","charge_duration_in_minutes",
                                                               "charge_duration_in_hours","Energy__kWh_per_minute"])
            initial_df1=initial_df1.append(df6)



            count=1
            for x in range(start_hour+1, end_hour):
                s1 = pd.Series([newdf['ObjectId'][ind],newdf['Energy__kWh_per_minute'][ind]*60,
                                newdf['GHG_Savings__kg_'][ind],
                                newdf['Gasoline_Savings__gallons_'][ind],start_date,
                                start_hour+count,0,0, end_date,
                                start_hour+count+1,0,0,1,0,0,60,1,
                                newdf['Energy__kWh_per_minute'][ind]])
                df = pd.DataFrame([list(s1)],  columns =  ["ObjectId","Energy__kWh_", "GHG_Savings__kg_", "Gasoline_Savings__gallons_",
                                                               "Charge_start_timestamp","start_time_hour_int","start_time_minute_int",
                                                               "start_time_second_int","Charge_end_timestamp","end_time_in_hrs_int",
                                                               "end_time_in_mm_int","end_time_in_ss_int","Total_Duration__hh_int",
                                                               "Total_Duration__mm_int","Total_Duration__ss_int","charge_duration_in_minutes",
                                                               "charge_duration_in_hours","Energy__kWh_per_minute"])
                initial_df1=initial_df1.append(df)

                count=count+1



            #for the remianing minutes of last hour of end date

            minutes_in_last_hour_into_hour = minutes_in_last_hour/60
            s7 = pd.Series([newdf['ObjectId'][ind],newdf['Energy__kWh_per_minute'][ind]*minutes_in_last_hour,
                                newdf['GHG_Savings__kg_'][ind],
                                newdf['Gasoline_Savings__gallons_'][ind],start_date,
                                end_hour,0,0,
                                end_date,
                                end_hour+1,0,0,0,minutes_in_last_hour,0,minutes_in_last_hour,minutes_in_last_hour_into_hour,
                                newdf['Energy__kWh_per_minute'][ind]])
            df7 = pd.DataFrame([list(s7)],  columns =  ["ObjectId","Energy__kWh_", "GHG_Savings__kg_", "Gasoline_Savings__gallons_",
                                                               "Charge_start_timestamp","start_time_hour_int","start_time_minute_int",
                                                               "start_time_second_int","Charge_end_timestamp","end_time_in_hrs_int",
                                                               "end_time_in_mm_int","end_time_in_ss_int","Total_Duration__hh_int",
                                                               "Total_Duration__mm_int","Total_Duration__ss_int","charge_duration_in_minutes",
                                                               "charge_duration_in_hours","Energy__kWh_per_minute"])
            initial_df1=initial_df1.append(df7)
        
      
            
    elif (start_date<end_date):
        
        delta = datetime.timedelta(days=1)
        #for the minutes of first hour of start date
        minutes_in_first_hour_into_hour=minutes_in_first_hour/60
        
        s5 = pd.Series([newdf['ObjectId'][ind],newdf['Energy__kWh_per_minute'][ind]*minutes_in_first_hour,
                            newdf['GHG_Savings__kg_'][ind],
                            newdf['Gasoline_Savings__gallons_'][ind],start_date,
                            start_hour,0,0,
                            start_date,
                            start_hour+1,0,0,0,minutes_in_first_hour,0,minutes_in_first_hour,minutes_in_first_hour_into_hour,
                            newdf['Energy__kWh_per_minute'][ind]])
        df5 = pd.DataFrame([list(s5)],  columns =  ["ObjectId","Energy__kWh_", "GHG_Savings__kg_", "Gasoline_Savings__gallons_",
                                                           "Charge_start_timestamp","start_time_hour_int","start_time_minute_int",
                                                           "start_time_second_int","Charge_end_timestamp","end_time_in_hrs_int",
                                                           "end_time_in_mm_int","end_time_in_ss_int","Total_Duration__hh_int",
                                                           "Total_Duration__mm_int","Total_Duration__ss_int","charge_duration_in_minutes",
                                                           "charge_duration_in_hours","Energy__kWh_per_minute"])
        initial_df2=initial_df2.append(df5)
        
        
        while (start_date<end_date):
            
        
            count2=1
            for x in range(start_hour+1, 24):
                s2 = pd.Series([newdf['ObjectId'][ind],newdf['Energy__kWh_per_minute'][ind]*60,
                                newdf['GHG_Savings__kg_'][ind],
                                newdf['Gasoline_Savings__gallons_'][ind],start_date,
                                start_hour+count2,0,0,
                                start_date,
                                start_hour+count2+1,0,0,1,0,0,60,1,
                                newdf['Energy__kWh_per_minute'][ind]])
                df2 = pd.DataFrame([list(s2)],  columns =  ["ObjectId","Energy__kWh_", "GHG_Savings__kg_", "Gasoline_Savings__gallons_",
                                                           "Charge_start_timestamp","start_time_hour_int","start_time_minute_int",
                                                           "start_time_second_int","Charge_end_timestamp","end_time_in_hrs_int",
                                                           "end_time_in_mm_int","end_time_in_ss_int","Total_Duration__hh_int",
                                                           "Total_Duration__mm_int","Total_Duration__ss_int","charge_duration_in_minutes",
                                                           "charge_duration_in_hours","Energy__kWh_per_minute"])
                initial_df2=initial_df2.append(df2)
                count2=count2+1
            start_hour=-1
            start_date += delta
            
        #for end date
        count3=0
        start_hour=0
        for x in range(0, end_hour):
            s3 = pd.Series([newdf['ObjectId'][ind],newdf['Energy__kWh_per_minute'][ind]*60,
                            newdf['GHG_Savings__kg_'][ind],
                            newdf['Gasoline_Savings__gallons_'][ind],start_date,
                            start_hour+count3,0,0,
                            start_date,
                            start_hour+count3+1,0,0,1,0,0,60,1,
                            newdf['Energy__kWh_per_minute'][ind]])
            df3 = pd.DataFrame([list(s3)],  columns =  ["ObjectId","Energy__kWh_", "GHG_Savings__kg_", "Gasoline_Savings__gallons_",
                                                           "Charge_start_timestamp","start_time_hour_int","start_time_minute_int",
                                                           "start_time_second_int","Charge_end_timestamp","end_time_in_hrs_int",
                                                           "end_time_in_mm_int","end_time_in_ss_int","Total_Duration__hh_int",
                                                           "Total_Duration__mm_int","Total_Duration__ss_int","charge_duration_in_minutes",
                                                           "charge_duration_in_hours","Energy__kWh_per_minute"])
            initial_df2=initial_df2.append(df3)
            count3=count3+1
            
        #for the remianing minutes of last hour of end date
        
        minutes_in_last_hour_into_hour = minutes_in_last_hour/60
        s4 = pd.Series([newdf['ObjectId'][ind],newdf['Energy__kWh_per_minute'][ind]*minutes_in_last_hour,
                            newdf['GHG_Savings__kg_'][ind],
                            newdf['Gasoline_Savings__gallons_'][ind],end_date,
                            end_hour,0,0,
                            end_date,
                            end_hour+1,0,0,0,minutes_in_last_hour,0,minutes_in_last_hour,minutes_in_last_hour_into_hour,
                            newdf['Energy__kWh_per_minute'][ind]])
        df4 = pd.DataFrame([list(s4)],  columns =  ["ObjectId","Energy__kWh_", "GHG_Savings__kg_", "Gasoline_Savings__gallons_",
                                                           "Charge_start_timestamp","start_time_hour_int","start_time_minute_int",
                                                           "start_time_second_int","Charge_end_timestamp","end_time_in_hrs_int",
                                                           "end_time_in_mm_int","end_time_in_ss_int","Total_Duration__hh_int",
                                                           "Total_Duration__mm_int","Total_Duration__ss_int","charge_duration_in_minutes",
                                                           "charge_duration_in_hours","Energy__kWh_per_minute"])
        initial_df2=initial_df2.append(df4)
        
                
                
    else:
        print("something else")

<ipython-input-28-2740300fbd09>:70: RuntimeWarning: invalid value encountered in double_scalars
  s8 = pd.Series([newdf['ObjectId'][ind],newdf['Energy__kWh_per_minute'][ind]*diff,

In [29]:
initial_df1

,ObjectId,Energy__kWh_,GHG_Savings__kg_,Gasoline_Savings__gallons_,Charge_start_timestamp,start_time_hour_int,start_time_minute_int,start_time_second_int,Charge_end_timestamp,end_time_in_hrs_int,end_time_in_mm_int,end_time_in_ss_int,Total_Duration__hh_int,Total_Duration__mm_int,Total_Duration__ss_int,charge_duration_in_minutes,charge_duration_in_hours,Energy__kWh_per_minute
0,0,0.0000,0.000,0.000,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0.0000
0,1,0.5819,2.732,0.816,2018-01-01 17:49:00,17,0,0,2018-01-01 19:52:00,18,0,0,0,11,0,11,0.183333,0.0529
0,1,3.1740,2.732,0.816,2018-01-01 17:49:00,18,0,0,2018-01-01 19:52:00,19,0,0,1,0,0,60,1.000000,0.0529
0,1,2.7508,2.732,0.816,2018-01-01 17:49:00,19,0,0,2018-01-01 19:52:00,20,0,0,0,52,0,52,0.866667,0.0529
0,2,0.8272,1.042,0.311,2018-01-02 08:52:00,8,0,0,2018-01-02 09:16:00,9,0,0,0,8,0,8,0.133333,0.1034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,25577,2.3157,12.251,2.166,2021-05-24 12:29:00,12,0,0,2021-05-24 16:20:00,13,0,0,0,31,0,31,0.516667,0.0747
0,25577,4.4820,12.251,2.166,2021-05-24 12:29:00,13,0,0,2021-05-24 16:20:00,14,0,0,1,0,0,60,1.000000,0.0747
0,25577,4.4820,12.251,2.166,2021-05-24 12:29:00,14,0,0,2021-05-24 16:20:00,15,0,0,1,0,0,60,1.000000,0.0747
0,25577,4.4820,12.251,2.166,2021-05-24 12:29:00,15,0,0,2021-05-24 16:20:00,16,0,0,1,0,0,60,1.000000,0.0747
0,25577,1.4940,12.251,2.166,2021-05-24 12:29:00,16,0,0,2021-05-24 16:20:00,17,0,0,0,20,0,20,0.333333,0.0747

In [30]:
initial_df2

,ObjectId,Energy__kWh_,GHG_Savings__kg_,Gasoline_Savings__gallons_,Charge_start_timestamp,start_time_hour_int,start_time_minute_int,start_time_second_int,Charge_end_timestamp,end_time_in_hrs_int,end_time_in_mm_int,end_time_in_ss_int,Total_Duration__hh_int,Total_Duration__mm_int,Total_Duration__ss_int,charge_duration_in_minutes,charge_duration_in_hours,Energy__kWh_per_minute
0,0,0.0000,0.000,0.000,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0.0000
0,3,1.3377,6.319,1.888,2018-01-02 21:11:00,21,0,0,2018-01-02 21:11:00,22,0,0,0,49,0,49,0.816667,0.0273
0,3,1.6380,6.319,1.888,2018-01-02 21:11:00,22,0,0,2018-01-02 21:11:00,23,0,0,1,0,0,60,1.000000,0.0273
0,3,1.6380,6.319,1.888,2018-01-02 21:11:00,23,0,0,2018-01-02 21:11:00,24,0,0,1,0,0,60,1.000000,0.0273
0,3,1.6380,6.319,1.888,2018-01-03 21:11:00,0,0,0,2018-01-03 21:11:00,1,0,0,1,0,0,60,1.000000,0.0273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,25543,1.4760,9.350,1.653,2021-05-21 22:13:00,3,0,0,2021-05-21 22:13:00,4,0,0,1,0,0,60,1.000000,0.0246
0,25543,1.4760,9.350,1.653,2021-05-21 22:13:00,4,0,0,2021-05-21 22:13:00,5,0,0,1,0,0,60,1.000000,0.0246
0,25543,1.4760,9.350,1.653,2021-05-21 22:13:00,5,0,0,2021-05-21 22:13:00,6,0,0,1,0,0,60,1.000000,0.0246
0,25543,1.4760,9.350,1.653,2021-05-21 22:13:00,6,0,0,2021-05-21 22:13:00,7,0,0,1,0,0,60,1.000000,0.0246
0,25543,0.1968,9.350,1.653,2021-05-21 07:08:00,7,0,0,2021-05-21 07:08:00,8,0,0,0,8,0,8,0.133333,0.0246

In [31]:
final_df=initial_df1.append(initial_df2)

In [33]:
final_df

,ObjectId,Energy__kWh_,GHG_Savings__kg_,Gasoline_Savings__gallons_,Charge_start_timestamp,start_time_hour_int,start_time_minute_int,start_time_second_int,Charge_end_timestamp,end_time_in_hrs_int,end_time_in_mm_int,end_time_in_ss_int,Total_Duration__hh_int,Total_Duration__mm_int,Total_Duration__ss_int,charge_duration_in_minutes,charge_duration_in_hours,Energy__kWh_per_minute
0,0,0.0000,0.000,0.000,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0.0000
0,1,0.5819,2.732,0.816,2018-01-01 17:49:00,17,0,0,2018-01-01 19:52:00,18,0,0,0,11,0,11,0.183333,0.0529
0,1,3.1740,2.732,0.816,2018-01-01 17:49:00,18,0,0,2018-01-01 19:52:00,19,0,0,1,0,0,60,1.000000,0.0529
0,1,2.7508,2.732,0.816,2018-01-01 17:49:00,19,0,0,2018-01-01 19:52:00,20,0,0,0,52,0,52,0.866667,0.0529
0,2,0.8272,1.042,0.311,2018-01-02 08:52:00,8,0,0,2018-01-02 09:16:00,9,0,0,0,8,0,8,0.133333,0.1034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,25543,1.4760,9.350,1.653,2021-05-21 22:13:00,3,0,0,2021-05-21 22:13:00,4,0,0,1,0,0,60,1.000000,0.0246
0,25543,1.4760,9.350,1.653,2021-05-21 22:13:00,4,0,0,2021-05-21 22:13:00,5,0,0,1,0,0,60,1.000000,0.0246
0,25543,1.4760,9.350,1.653,2021-05-21 22:13:00,5,0,0,2021-05-21 22:13:00,6,0,0,1,0,0,60,1.000000,0.0246
0,25543,1.4760,9.350,1.653,2021-05-21 22:13:00,6,0,0,2021-05-21 22:13:00,7,0,0,1,0,0,60,1.000000,0.0246
0,25543,0.1968,9.350,1.653,2021-05-21 07:08:00,7,0,0,2021-05-21 07:08:00,8,0,0,0,8,0,8,0.133333,0.0246

In [34]:
# remove the rows with all zeroes

#print(final_df)

a_series = (final_df != 0).any(axis=1)
#print(a_series)

new_final_df = final_df.loc[a_series]
#print(new_final_df)

new_final_df=new_final_df.reset_index(drop=True)

In [35]:
new_final_df

,ObjectId,Energy__kWh_,GHG_Savings__kg_,Gasoline_Savings__gallons_,Charge_start_timestamp,start_time_hour_int,start_time_minute_int,start_time_second_int,Charge_end_timestamp,end_time_in_hrs_int,end_time_in_mm_int,end_time_in_ss_int,Total_Duration__hh_int,Total_Duration__mm_int,Total_Duration__ss_int,charge_duration_in_minutes,charge_duration_in_hours,Energy__kWh_per_minute
0,1,0.5819,2.732,0.816,2018-01-01 17:49:00,17,0,0,2018-01-01 19:52:00,18,0,0,0,11,0,11,0.183333,0.0529
1,1,3.1740,2.732,0.816,2018-01-01 17:49:00,18,0,0,2018-01-01 19:52:00,19,0,0,1,0,0,60,1.000000,0.0529
2,1,2.7508,2.732,0.816,2018-01-01 17:49:00,19,0,0,2018-01-01 19:52:00,20,0,0,0,52,0,52,0.866667,0.0529
3,2,0.8272,1.042,0.311,2018-01-02 08:52:00,8,0,0,2018-01-02 09:16:00,9,0,0,0,8,0,8,0.133333,0.1034
4,2,1.6544,1.042,0.311,2018-01-02 08:52:00,9,0,0,2018-01-02 09:16:00,10,0,0,0,16,0,16,0.266667,0.1034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119897,25543,1.4760,9.350,1.653,2021-05-21 22:13:00,3,0,0,2021-05-21 22:13:00,4,0,0,1,0,0,60,1.000000,0.0246
119898,25543,1.4760,9.350,1.653,2021-05-21 22:13:00,4,0,0,2021-05-21 22:13:00,5,0,0,1,0,0,60,1.000000,0.0246
119899,25543,1.4760,9.350,1.653,2021-05-21 22:13:00,5,0,0,2021-05-21 22:13:00,6,0,0,1,0,0,60,1.000000,0.0246
119900,25543,1.4760,9.350,1.653,2021-05-21 22:13:00,6,0,0,2021-05-21 22:13:00,7,0,0,1,0,0,60,1.000000,0.0246
119901,25543,0.1968,9.350,1.653,2021-05-21 07:08:00,7,0,0,2021-05-21 07:08:00,8,0,0,0,8,0,8,0.133333,0.0246

In [36]:
new_final_df.to_csv('New_boulder_dataset.csv')